@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    width: 100%;
    background: #fafafa;
    position: relative;
    font-family: "roboto", sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.4rem;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    justify-content: center;
    padding: 5px 0;
    background-color: #fafafa;
}

.nav-container {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-img {
    display: inline-block;
    max-width: auto;
    height: 100%;
    margin-top: 5px;
}

.search-bar {
    border: 0.5px solid #dfdfdf;
    border-radius: 4px;
    height: 80%;
    width: 20%;
    text-align: center;
    padding: 12px 0;
}

.search-bar::placeholder {
    color: #a7a9ac;
}

.nav-items {
    flex-grow: 0.25;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70%;
}

.icon {
    height: 75%;
    cursor: pointer;
    display: inline-block;
    margin: 0 10px;
}

.user-profile {
    border: none;
    border-radius: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 0.5px solid #dbdbdb;
    border-radius: 4px;
}

/* ================= STATUS SECTION ===================  */

.status-section {
    height: 7rem;
    margin: 5rem auto 2rem;
    width: auto;
    overflow: scroll;
    
}

.status-section::-webkit-scrollbar{
    display: none;
}

.status-card {
    margin: 8px;
}
.profile-pic {
    display: inline-block;
    height: 4rem;
    border: 2.5px solid #ed6249;
    border-radius: 100%;
    padding: 1.5px;
    cursor: pointer;
}

.username {
    font-size: 0.7rem;
    overflow: hidden;
}

/* ================= POST SECTION ===================  */

.main-section {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 30px;
    margin: auto;
    width: 70%;

}

.posts-section{
    width: auto;
}

.posts-section .container {
    flex-direction: column;
    width: 100%;
    height: auto;
}

.post-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px;
}

.post-header .username {
    font-size: 0.8rem;
    font-weight: 700;
}

.post-header p {
    flex-grow: 1;
    margin-left: 8px;
}

.options {
    height: 0.8rem;
}

.post-image {
    width: 100%;
}

.post-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 8rem;
    padding: 8px;
}
.post-reaction {
    display: flex;
    align-items: center;
    height: 2rem;
}
.save {
    margin-left: auto;
}
.likes {
    display: flex;
    align-items: center;
}
.likes .profile-pic {
    border: none;
    height: 1.5rem;
}
.post-footer p {
    font-size: 0.85rem;
}
.post-time {
    font-variant: small-caps;
    color: #a7a9ac;
}

/* ================= RECOMENDATIONS ASIDE ===================  */

.recomendations {
    margin-top: 5rem;
    width: 100%;
    
}

.info {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: 
    'user-pic user-name btn'
    'user-pic sub-txt btn';
    align-items: center;
    
    
}

.info .profile-pic {
    border: none;
    height: 3.5rem;
    grid-area: user-pic;
    justify-self: center;
}
.post-header .profile-pic, .suggestions .profile-pic {
    height: 2.5rem;
}

.sub-text {
    grid-area: sub-txt;
    font-size: 0.9rem;
    color: #a2a2a2;
}
.info .username {
    grid-area: user-name;
    font-size: 0.8rem;
}

.custom-btn {
    height: 1.5rem;
    background: none;
    border: none;
    font-size: 0.7rem;    
    cursor: pointer;
    grid-area: btn;
}

.change-user-btn {
    color: #0095f6;
    font-weight: 600;
}

.all-btn {
    
    font-weight: 600;
    
}

.suggestions {
    margin-top: 1.5rem;
}
.suggestions .info {
    margin: 0.5rem 0;
}

.suggest-header {
    display: flex;
    align-items: center;
    margin: 1.2rem;

}
.suggest-text {
    color: #8e8e8e;
    font-size: 0.8rem;
    font-weight: 600;
    flex-grow: 1;

}


